body{
    background-color: #1D1C1C;
    margin-left: 5vw;
    margin-right: 5vw;
}

.logo{
    width: 6vw;
}

.on_the_left{
    width: 42vw;
    height: 100%;
}

.on_the_right{
    width: calc(100% - 42.5vw);
    color: white;
    font-family: Inter, sans-serif;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
}

.top-chik{
    height: 15vh;
}

.on_the_left, .on_the_right{
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.nick{
    position: absolute;
    top: 3vh;
    right: 5vw;
    font-size: 1.5vw;
    font-family: 'InterBold';
    margin-top: 1vh;
}

.menu{
    width: 2.5vw;
    height: 3vw;
    position: absolute;
    right: 0;
    top: 3vh;
}

.all_shit{
    margin-top: 2vh;
    width: 100%;
    height: 80vh;
    position: relative;
}

.all_chats{
    position: relative;
    width: 15%;
    height: 100%;
}

.solo_chat{
    width: 80%;
    height: 100%;
    position: absolute;
    margin-top: -1vh;
}

.back_to_origins{
    position: absolute;
}

.all_chats, .solo_chat{
    display: inline-block;
}

.arrow, .all_ch{
    display: inline-block;
}

.all_ch{
    color: white;
    font-family: 'Monsterat';
    font-size: 1.3vw;
    margin-left: 1vw;
}
.arrow{
    width: 2.3vw;
}

a{
    text-decoration: none;
}

h2{
    margin: 0 0 0 0;
}

h1{
    margin: 0 0 0 0;
    position: absolute;
    width: 100%;
    margin-top: 1vh;
}

.headChat{
    color: white;
    background-color: #343232;
    text-align: center;
    font-size: 0.7vw;
    height: 5vh;
    font-family: 'InterBold';
    
}

.messages{
    height: 60%;
    background-color: #1E1E1E;
    overflow-y:scroll;
}

.typeMes{
    height: 8%;
    width: 100%;
    background-color: #343232;
}

.messaga{
    width: 100%;
    margin-top: 0.7vh;
    margin-bottom: 0.8vh;
    display: block;
}

.left {
    position: relative;
    font-size: 1.2vw;
    color: white;
    margin-left: 5vw;
    word-wrap: break-word;
    height: auto;
    max-width: 30%;
    width: min-content;
    background-color: #343232;
    line-height: 3vh;
    border-radius: 40px;
}

.right{
    position: relative;
    background-color: #096422;
    font-size: 1.2vw;
    color: white;
    margin-left: auto;
    margin-right: 5vw;
    word-wrap: break-word;
    max-width: 30%;
    width: min-content;
    height: auto;
    line-height: 3vh;
    border-radius: 40px;
}

p{
   padding: 1vh 1vw 1vh 1vw;
   margin: 0 0 0 0;
}
.inpet, .sendMe{
    display: inline-block;
}

.inpet{
    background-color: #9C9A9A;
    width: 70%;
    height: 60%;
    margin-left: 10%;
    border-radius: 20px;
    text-decoration: none;
    outline: none;
    border: none;
    padding-left: 2vw;
    color: white;
    padding-right: 2vw;
    font-family: 'Inter';
    font-size: 1.1vw;
}

.sendMe{
    width: 2vw;
    height: 2vw;
    background-color: #9C9A9A;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 1vh;
    margin-left: 4vw;
    border: none;
}

.menuWindow{
    width: 15vw;
    height: 17vh;
    background-color: #3C3C3C;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    position: absolute;
    right: 4vw;
    top: -20vh;
    transition: 1s;
    display: grid;
    z-index: 1;
  }
  
  .team, .chats, .exit, .change{
    text-decoration: none;
    color: white;
    width: max-content;
    height: max-content;
    font-family: 'Monsterat';
    margin-left: 1vw;
    margin-top: 1vh;
    font-size: 1vw;
  }
  
  .exit:hover, .change:hover {
    cursor: pointer;
  }
  
  .exit{
    color:#148533;
  }