<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat/chat_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='other_shit/fonts_other_shit.css')}}">
    <script src="{{ url_for('static', filename='choose2.js')}}"></script>
    <script src="{{ url_for('static', filename='nickname.js')}}" defer></script>
</head>
<body>
    <div class="top-chik">
        <div class="on_the_left">
            <a href="{{ url_for('main') }}">
                <img class="logo" src="{{ url_for('static', filename='images/Logo.png')}}">
            </a>
        </div>
        <div class="on_the_right">
            <h2 id="nickname" class="nick"></h2>
            <input type="image" class="menu" src="{{ url_for('static', filename='images/burger 3.png')}}">
        </div>
    </div>
    <div class="all_shit">
        <div class="all_chats">
            <div class="back_to_origins">
                <a href="{{ url_for('user_chats') }}"> <img class="arrow"  src="{{ url_for('static', filename='chat/arrow.png')}}"> </a>
                <a href="{{ url_for('user_chats') }}" class="all_ch">Все чаты</a>
            </div>
        </div>
        <div class="solo_chat">
            <div class="headChat">
                <h1> {{get_username_by_id(receiver_id)}} </h1>
            </div>
            <div class="messages">
                <div id="chat">
                {% for message in chat_history %}
                    {% if message[1]|length > 0%}
                        {% if message[0] == sender_id %}
                            <div class="messaga">
                                <div class="left">
                                    <p>{{ message[1] }} </p>
                                </div>
                            </div>
                        {% else %}
                            <div class="messaga">
                                <div class="right">
                                    <p>{{ message[1] }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="typeMes">
                <input type="text" id="message" autocomplete="off" class="inpet">
                <button onclick="sendMessage()" class="sendMe"><img src="{{ url_for('static', filename='images/Arrow 1.png')}}"></button>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
            <script>
                var socket = io();
                var chatId = "{{ chat_id }}";
        
                socket.on('connect', function() {
                    console.log('Connected');
                    // Join the room corresponding to the chat
                    socket.emit('join', {chat_id: chatId});
                });
        
                socket.on('message', function(data) {
                    var chat = document.getElementById('chat');
                    var message = document.createElement('div');
                    message.className = "messaga";
                    let rightSide = document.createElement('div');
                    rightSide.className = "right";
                    let me = document.createElement('p');
                    me.innerHTML = data.message;
                    rightSide.appendChild(me);
                    message.appendChild(rightSide);
                    chat.appendChild(message);
                });
        
                function sendMessage() {
                    var input = document.getElementById('message');
                    var message = input.value;
                    if (message !== '' && message.replace(/\s/g, '').length > 0) {
                        var chatId = "{{ chat_id }}";
                        socket.emit('message', {chat_id: chatId, message: message, sender_id: "{{ sender_id }}"});
                        input.value = '';
                    }
                }
                socket.on('connect_error', function(err) {
                    console.log('Connection error:', err);
                });
        
                socket.on('disconnect', function() {
                    console.log('Disconnected');
                });
            </script>
        </div>
    </div>
</body>
</html>
