<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dota 2</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='game/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='other_shit/fonts_other_shit.css')}}">
</head>
<body>

  <header>
    <div class="top-chik">
      <div class="on_the_left">
          <img class="logo" src="static/images/Logo.png">
      </div>
      <div class="on_the_right">
          <h2 id="nickname" class="nick">Gen@diy</h2>
          <input type="image" class="menu" src="static/images/burger 3.png">
      </div>
    </div>
    </header>
  <div class="ggg">
    <div class="wrapper">
      <div class="container">
        <div class="slider-track"></div>
        <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()">
        <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()">
    </div>
      <div class="values">
          <span id="range1" class="number">
              0
          </span>
          <span id="range2" class="number">
              100
          </span>
      </div>
    </div>
    <!--Script-->
    <script src="static/game/slider.js"></script>
  <img src="static/images/dota2.png"> 
  </div>
  <section id="applications">
    <div class="new-application-container">
      <div class="new-application">
        <form id="newApplicationForm" action="{{ url_for('add_application') }}" method="post">
          <h2>Заполните анкету</h2>
          <label for="name">Имя:</label>
          <input type="text" id="name" name="name" required>
          <label for="rating">Рейтинг:</label>
          <input type="number" id="rating" name="rating" required>
          <label for="position">Позиция:</label>
          <select id="position" name="position">
            <option value="Carry">Carry</option>
            <option value="Mid">Mid</option>
            <option value="Offlainer">Offlainer</option>
            <option value="Semi_sup">Semi Support</option>
            <option value="Full_sup">Full Support</option>
          </select>
          <label for="comment">Комментарий:</label>
          <input type="text" id="comment" name="comment" required>
          <div class="button-container">
            <button type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>

    <div class="application-list-container">
      <div class="application-list">
        <!-- Placeholder для списка заявок -->
        {% for user_nickname, data in dota_applications.items() %}
        <div class="application-item">
          <h3>Заявка</h3>
          <p><strong>Имя:</strong> {{ user_nickname }}</p>
          <p><strong>Рейтинг:</strong> {{ data[1] }}</p>
          <p><strong>Позиция:</strong> {{ data[3] }}</p>
          <p><strong>Комментарий:</strong> {{ data[2] }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

</body>
</html>
