<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heartstone</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='game/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='other_shit/fonts_other_shit.css')}}">
  <script src="static/choose2.js"></script>
  <script src="static/nickname.js" defer></script>
  <script src="static/menu.js" defer></script>
  <script src="static/cookie.js" defer></script>
</head>
<body>

  <header>
    <div class="top-chik">
      <div class="on_the_left">
        <a href="{{ url_for('main') }}">
          <img class="logo" src="static/images/Logo.png">
        </a>
      </div>
      <div class="on_the_right">
          <h2 id="nickname" class="nick"></h2>
          <input type="image" class="menu" id="burger" src="static/images/burger 3.png">
      </div>
    </div>
    <div class="menuWindow" id="men">
      <a class="team" href="{{ url_for('choose') }}">Собрать команду</a>
      <a class="change">Редактировать профиль</a>
      <a class="chats" href="{{ url_for('user_chats') }}">Все чаты</a>
      <a class="exit" id="exit">Выйти</a>
    </div>
    </header>
  <div class="ggg">
    <div class="wrapper">
      <label for="name"><b>MMR (Очки рейтинга):</b></label>
      <div class="container">
        <div class="slider-track"></div>
        <input type="range" min="0" max="10000" value="2000" id="slider-1" oninput="slideOne()">
        <input type="range" min="0" max="10000" value="5000" id="slider-2" oninput="slideTwo()">
      </div>
      <div class="values">
          <span id="range1" class="number">
              0
          </span>
          <span id="range2" class="number">
              10000
          </span>
      </div>
      <div class="button-sort">
        <button type="submit" id="sort">Применить</button>
      </div>
    </div>
    <!--Script-->
    <script src="static/game/slider.js"></script>
    <script src="static/game/sort.js"></script>
  <img class='image' src="static/images/hs.png"> 
  </div>
  <section id="applications">
    <div class="new-application-container">
      <div class="new-application">
        <form id="newApplicationForm" action="{{ url_for('add_application') }}" method="post">
          <h2>Заполните анкету</h2>
          <label for="name">Имя:</label>
          <input type="text" id="name" name="name" required>
          <label for="rating">Рейтинг:</label>
          <input type="number" id="rating" name="rating" required>
          <label for="position">Позиция:</label>
          <select id="position" name="position">
            <option value="Carry">Carry</option>
            <option value="Mid">Mid</option>
            <option value="Offlainer">Offlainer</option>
            <option value="Semi_sup">Semi Support</option>
            <option value="Full_sup">Full Support</option>
          </select>
          <label for="comment">Комментарий:</label>
          <input type="text" id="comment" name="comment" required>
          <div class="button-container">
            <button type="submit" id="form">Отправить</button>
          </div>
        </form>
      </div>
    </div>

    <div class="application-list-container">
      <div class="application-list">
        {% for user_nickname, data in applications.items() %}
        <div class="application-item">
          <h3>Заявка</h3>
          <p><strong>Имя:</strong> {{ user_nickname }}</p>
          <p><strong>Рейтинг:</strong> {{ data[1] }}</p>
          <p><strong>Позиция:</strong> {{ data[3] }}</p>
          <p><strong>Комментарий:</strong> {{ data[2] }}</p>
          <form action="{{ url_for('chat_with_user', sender_id=user_id, receiver_id=data[0]) }}" method="post">
            <div class="button-accept">
                <button>Написать</button>
            </div>
          </form>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

</body>
</html>
