<!DOCTYPE html>
<head lang="ru">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="../other_shit/fonts_other_shit.css">
</head>
<body>
  <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h1 class="text-center">Авторизация</h1>
            </div>
              <form method="post">
                <div class="mb-3">
                  <h2 class="form-lable">Имя пользователя</h2>
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                  <h2 class="form-label">Пароль</h2>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="new-reg">
                  <h2 class="new">Новый пользователь TeamPlayUp?</h2>
                  <a class="reg" href="../templates/registration.html">Зарегестрироваться</a>
                </div>
                <div class="text-center">
                  <button type="submit" class="enter">Войти</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>